*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #5a189a;
    text-align: center;
}
h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 5rem;
    color: beige;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game-button{
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
}
.reset-button{
    padding: 7px;
    border: none;
    font-size: 3vmin;
    border-radius: 5px;
}
.reset-button:hover,.new-Btn:hover{
    background-color:#4C956C ;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.msg{
    color: #74f6a1;
    font-size: 8vmin;
}
.new-Btn{
    padding: 7px;
    border: none;
    font-size: 3vmin;
    border-radius: 5px;
}
.hide{
    display: none;
}